@page
@model CreateModel
@{
    ViewData["Title"] = "Create CRM Order";
}

<h3>@Model.dummy.Name</h3>
<dl class="dl-horizontal">
    <dt>Description</dt>
    <dd>@Model.dummy.Description</dd>
    <dt>Order ID</dt>
    <dd>@Model.dummy.OrderID</dd>
    <dt>Customer ID</dt>
    <dd>Not showing at the moment</dd>
</dl>

<form method="post">
    <button type="submit">Create</button>
</form>
