@page
@model IndexModel
@{
    ViewData["Title"] = "Product list";
}

<h3>Active products</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
            {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
            </tr>
        }
    </tbody>
</table>
