@model Client.Types.Contact

@{
    ViewData["Title"] = "Detail of Contact";
}

<h2>Details of Contact</h2>

@Html.Partial("ContactDetails", Model)

<button type="button" class="btn btn-default"><a asp-action="GetOrders" asp-route-id="@Model.ID">See the associated orders</a></button>

<button type="button" class="btn btn-default"><a asp-action="Edit" asp-route-id="@Model.ID">Edit</a></button>