@{
    ViewData["Title"] = "Search a Contact by email";
}

<h3>Get the contact associated with an email address</h3>
<form method="get" class="form-inline">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email address to search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
