@model Client.Types.Order

@{
    ViewData["Title"] = "Order summary";
}

<h2>Order summary</h2>

<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>ID</dt>
    <dd><a asp-controller="Orderdetail" asp-action="List" asp-route-id="@Model.ID">@Model.OrderID</a></dd>
    <dt>Description</dt>
    <dd>@Model.Description</dd>
</dl>