{
  "Serilog": {
    "MinimumLevel": "Debug",
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "logs/application.log",
          "rollingInterval": "Day",
          "retainedFileCoundLimit": 180
        }
      }
    ]
  }
}
